<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<h1>Delete product</h1>
<a th:href="@{/products/list}">Back to list product</a>
<form th:action="@{/products/delete/__${product.id}__}" method="post" th:object="${product}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" th:field="*{id}" disabled></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" disabled></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}" disabled></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}" disabled></td>
        </tr>
        <tr>
<!--            <td>Image</td>-->
<!--            <td><input type="file" th:field="*{image}"></td>-->
            <img th:src="@{/image/__${product.image}__}" alt="" height="100">
        </tr>
        <tr>
            <td>Category</td>
            <td><select th:field="*{category}" disabled>
                <option value="">Select category</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete product"></td>
        </tr>
    </table>
</form>
</body>
</html>