<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<a th:href="@{/products/list}">Back to list product</a>
<form th:action="@{/products/edit/__${product.id}__}" method="post" th:object="${product}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"></td>
            <td><p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" th:field="*{image}"></td>
            <img th:src="@{/image/__${product.image}__}" alt="" height="100">
        </tr>
        <tr>
            <td>Category</td>
            <td><select th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}" th:selected="(${product.category}) and (${category.id} == *{category.id})"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit product"></td>
        </tr>
    </table>
</form>
</body>
</html>